*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    list-style: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 25px;
    max-width: 1340px;
    margin: auto;
}

.card {
    background-color: white;
    /* width: 350px; */
    max-width: 320px;
    margin: 50px auto 0 auto;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 8px 8px 0px 0px black;
}

.card-screen{
    /* position: relative | absolute*/
    position: relative;
    /* background-color: yellowgreen; */
    border-radius: 15px;
}

.card-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #23232373;
    border-radius: 15px;
    top: 0;
    padding: 10px;
    opacity: 0;
    transition-duration: .3s;
}

.buttons-up{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #f3ce4e;
}
.buttons-down{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    background-color: #f3ce4e;
}

.card-screen>img{
    width: 100%;
    border-radius: 15px;
    display: flex;
}

.card-screen:hover .card-buttons{
    opacity: 1;
}

p.tag {
    background-color: #f3ce4e;
    display: inline-block;
    font-size: 0.8em;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 600;
    margin: 10px 0;
}

.card>h1{
    font-size: 1.4em;
    margin: 10px 0;
}

p.text-description {
    color: gray;
    line-height: 22px;
    margin-bottom: 20px;
}

.teacher img{
    width: 32px;
    vertical-align: middle;
  } 
  .teacher p {
    display: inline-block;
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 5px;
}

/* Estilos tablet */
@media screen and (max-width: 992px){

    .container {
        grid-template-columns: repeat(3, 1fr);
    }
    p.tag {
        background-color: blueviolet;
    }

}

/* Estilos tablet 2 */
@media screen and (max-width: 850px){

    .container {
        grid-template-columns: repeat(2, 1fr);
    }
    p.tag {
        background-color: tomato;
    }

}

/* Estilos mobile */
@media screen and (max-width: 550px){

    .container {
        grid-template-columns: 1fr;
    }
    p.tag {
        background-color: peru;
    }

}